<div class="panel">
  <div class="actions">
    <button [routerLink]="['/game']" class="app-button primary">Create game</button>
  </div>

  <table class="rooms">
    <thead>
      <tr>
        <th class="col-name">Name</th>
        <th class="col-clients">Clients</th>
        <th class="col-actions"></th>
      </tr>
    </thead>
    <tr *ngFor="let room of rooms$ | async">
      <td>Game</td>
      <td>{{ room.clients }} / {{ room.maxClients }}</td>
      <td><a [routerLink]="['/game', room.roomId]" class="app-button primary">Join</a></td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
    <tr>
      <td>ahoj</td>
      <td>ahoj</td>
      <td>ahoj</td>
    </tr>
  </table>

</div>
